.app-container {
    height: 100vh;
}

.page-panel {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 90%;
    background-color: #E1E7FF;
}

body {
    margin: 0;
    font-family: "Josefin Sans";
}
