[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
cffi = "*"
cryptography = "*"
cycler = "*"
distlib = "*"
django = "*"
django-cors-headers = "*"
django-googledrive-storage = "*"
djangorestframework = "*"
filelock = "*"
kiwisolver = "*"
matplotlib = "*"
mysql-connector-python = "*"
numpy = "*"
pandas = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
protobuf = "*"
psycopg2-binary = "*"
pycparser = "*"
pyparsing = "*"
python-dateutil = "*"
python-decouple = "*"
pytz = "*"
six = "*"
sqlparse = "*"
tzdata = "*"
virtualenv = "*"
virtualenv-clone = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_full_version = "3.8.5"
