.listings-page {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.listings-page-grid {
    padding: 1rem;
}

.loading-circle {
    margin: auto;
    margin-top: 20%;
}

.image-carousel {
    height: 25rem;
    width: 100%;
    text-align: center;
}

.photo {
    max-height: 25rem;
}

.button-holder {
    text-align: right
}

.bookmark-button, .message-seller-button, .delete-button, .edit-button {
    height: 3rem;
}

.embedded-map-container {
    text-align: center;
}

.google-maps-embed {
    flex: 1;
    width: 75%;
    min-height: 25rem;
}

.user-description-text {
    white-space: pre-line;
    color: black;
    padding: 0;
}
