.listings-page {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.loading-circle {
    margin: auto;
}

.property-info {
    display: flex;
    padding: 1rem;
}

.address-price>h1 {
    margin: 0rem;
}

.address-price>h3 {
    margin: 0.3rem;
}

.google-maps-embed {
    flex: 1;
}