.listings-page {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.loading-circle {
    margin: auto;
}

.map-wrapper {
    height: 50%;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.google-maps-embed {
    height: 100%;
    width: 100%;
}