.Market {
    padding: 0rem 1rem;
}

.market-listings {
    width: 90rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.market-listing-card {
    margin: 1rem;
    width: calc(50% - 2rem);
}